<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Quick - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">

</head>
<body>
    <div class="container">
        <h1>Welcome to Service Quick</h1>
        <div class="button-container" >
            <a href="{{ url_for('schedule_step1') }}" class="button">Schedule</a>
            <a href="{{ url_for('reschedule_step1') }}" class="button">Reschedule</a>
            <a href="{{ url_for('cancel_step1') }}" class="button"> Cancel</a>
            <h2>Or</h2>
        </div>
    </div>
    <div class="prompt-container">
        <div class="prompt-messages" id="prompt-messages">
            <!-- prompt messages will appear here -->
        </div>
        <div class="prompt-input-container">
            <input type="text" id="prompt-input" placeholder="Ask our chatbot. e.g: " />
        </div>
    </div>

</body>
</html>

<!-- 
<div class="prompt-container">
    <input type="text" id="promptbot" name="chatbot">
    <label for="chatbot">Ask our Chatbot</label>
    <div class="underline"></div>
</div>     -->