body {
    background-color: #FFF;
    font-family: 'open sans', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
button {
    padding: 10px 20px;
    background-color: #F47C22;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'open sans', sans-serif;
    text-align: center;
    font-size: 1rem;

}

button:hover {
    transform: scale(1.1);
    font-weight: bold;

}



h1 {
    color: #F47C22;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.step-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-form label {
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 43%;
}

.step-form input[type="text"], .step-form input[type="tel"], .step-form textarea, .step-form input[type="date"], .step-form input[type="email"] , select {
    width: 55%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    text-align: left;
}

input::placeholder {
    font-family: 'open sans', sans-serif;
    color: #888; /* Example color */
    font-size: 17px; /* Example font size */
}


.step-form textarea {
    width: 80%;
    height: 100px;
    resize: vertical;
}

.step-form .button-container {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.step-form .button {
    width: 20%;
    padding: 10px 0;
    background-color: #F47C22;
    color: #FFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 10px;
    font-family: 'open sans', sans-serif;
    font-size: 1rem;

}

.step-form .button.back-button {
    background-color: #838B97;
    font-family: 'open sans', sans-serif;
}

.step-form .button:hover {
    transform: scale(1.1);
    font-weight: bold;

}

.step-form button:focus {
    outline: none;
}

p{
    font-family: 'open sans', sans-serif;
}