<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 2 - Service Quick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule_step1.css') }}">
   
</head>
<body>
    <div class="container">
        <h1>Step 2: Cancel the Ticket</h1>
        <div style="margin-left: 28%;">
            <h3>Your Ticket({{unique_id}}) is scheduled on: 
                <br><br>
                {{ appointment_date }}
            </h3>
            <h2>
                Do you want to cancel the ticket?
            </h2>
        </div>
         
        <form class="step-form" action="{{ url_for('cancel_confirm',unique_id=unique_id) }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="name" value="{{name}}">
            <button type="submit" class="button" >Cancel</button>
        </form>
    </div>
</body>
</html>
