<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 2 - Service Quick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule_step1.css') }}">
   
</head>
<body>
    <div class="container">
        <h1>Step 2: Cancel the Schedule</h1>
        <div style="margin-left: 28%;">
            <h3>Your Ticket Number : {{unique_id}}</h3>
            <p>Customer Name: {{ name }}</p>
            <p>Contact Number: {{ contactNum }}</p>
            <p>Location: {{ address }}</p>
            <p>Date: {{ date }}</p>
            <p>Model Number: {{ modelNum }}</p>
            <p>Product Type: {{ product_type }}</p>
            <p>Product Category: {{ product_category }}</p>
            <p>Serial Number: {{ serialNum }}</p>
            <p>Issue: {{ issue }}</p>
            <p>Warranty Status: {{ warrantyStatus }}</p>
        </div>
         
        <form class="step-form" action="{{ url_for('cancel_confirm') }}" method="post" enctype="multipart/form-data">
        <button type="submit" class="button" >Cancel</button>
        </form>
    </div>
</body>
</html>
