
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 1 - Service Quick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule_step1.css') }}">
   
</head>
<body>
    <div class="container">
        <h1>Step 1: View Your Ticket</h1>
        <p style="text-align: center;">
            Type your information to cancel the ticket.
        </p>
        {% if error_message %}
            <form class="step-form" action="{{ url_for('cancel_step2') }}" method="post" enctype="multipart/form-data">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Name" value="{{name}}" required>
        
                <label for="contactNum">Contact Number:</label>
                <input type="text" id="contactNum" name="contactNum" placeholder="Contact Number" value="{{contactNum}}" required>
        
                <label for="ticketNum">Ticket Number:</label>
                <input type="text" id="ticketNum" name="ticketNum" placeholder="Ticket Number" value="{{ticketNum}}" required>
                <button type="submit" class="button">View Schedule</button>
                <p style="color: red;">{{ error_message }}</p>
        {% else %}
            <form class="step-form" action="{{ url_for('cancel_step2') }}" method="post" enctype="multipart/form-data">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Name" required>
        
                <label for="contactNum">Contact Number:</label>
                <input type="text" id="contactNum" name="contactNum" placeholder="Contact Number"required >
        
                <label for="ticketNum">Ticket Number:</label>
                <input type="text" id="ticketNum" name="ticketNum" placeholder="Ticket Number" required>
                <button type="submit" class="button">View Schedule</button>
        {% endif %}
    </div>
</body>
</html>
