<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 2 - Service Quick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule_step1.css') }}">
   
</head>
<body>
    <div class="container">
        <h1>Confirmed</h1>
        <div style="margin-left: 28%;">
            {% if error_message_availability %}
                <div class="error">
                    <p>{{ error_message_availability }}</p>
                    <button type="button" class="button back-button" onclick="window.history.back()">Go Back to Select Date</button>
                </div>
            {% else %}
                <h3>Thank you {{name}}, Your Request has been accepted ! <Br> <Br>
                    Your original schedule({{unique_id}}) has been successfully changed to: <br><br>
                     {{selected_date}} 
                </h3>
            {% endif %}
        </div>
         
</body>
</html>