<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation - Service Quick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule_confirm.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ticket Confirmation</h1>
        <div class="detail-group">
            <h2>Your Ticket Number : {{unique_id}}</h2>
            <p>Customer Name: {{ name }}</p>
            <p>Contact Number: {{ contactNum }}</p>
            <p>Location: {{ address }}</p>
            <p>Date: {{ date }}</p>
            <p>Model Number: {{ modelNum }}</p>
            <p>Product Type: {{ product_type }}</p>
            <p>Product Category: {{ product_category }}</p>
            <p>Serial Number: {{ serialNum }}</p>
            <p>Issue: {{ issue }}</p>
            <p>Warranty Status: {{ warrantyStatus }}</p>
        </div>

        <div class="image-group">
            <h3>Bill of Sale Image</h3>
            {% if img_bos %}
                <img src="{{ url_for('uploads', unique_id=unique_id, filename=img_bos.split('/')[-1]) }}" alt="BOS Image" width="200">
            {% endif %}

            <h3>Issue Images</h3>
            {% for issue_image in img_issues %}
            {% if img_issues %}
            <img src="{{ url_for('uploads', unique_id=unique_id, filename=issue_image.split('/')[-1]) }}" alt="Issue Image" width="200">
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
</body>
</html>
