<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation - Service Quick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule_confirm.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ticket Confirmation</h1>
        <div class="detail-group">
            {% if error_message_availability %}
                <div class="error">
                    <p>{{ error_message_availability }}</p>
                    <button type="button" class="button back-button" onclick="window.history.back()">Go Back to Select Date</button>
                </div>
            {% else %}
                <h2>Thank you {{name}}, your ticket is scheduled successfully! <br><br> Your Ticket Number is : {{unique_id}}</h2>
                <p>Customer Name: {{ name }}</p>
                <p>Contact Number: {{ contactNum }}</p>
                <p>Location: {{ address }}</p>
                <p>Appointment Date: {{ selected_date }}</p>
                <p>Model Number: {{ modelNum }}</p>
                <p>Product Type: {{ product_type }}</p>
                <p>Product Category: {{ product_category }}</p>
                <p>Serial Number: {{ serialNum }}</p>
                <p>Issue: {{ issue }}</p>
                <p>Warranty Status: {{ warrantyStatus }}</p>
                    <div class="image-group">
                        <h3>Bill of Sale Image</h3>
                        {% if img_bos_path %}
                        <img src="{{ url_for('uploads', unique_id=unique_id, filename='/'.join(img_bos_path.split('/')[-2:])) }}"  width="200">
                        {% endif %}
                    <h3>Issue Images</h3>
                    {% for issue_image in img_issues_paths %}
                        {% if issue_image %}
                            <img src="{{ url_for('uploads', unique_id=unique_id, filename='/'.join(issue_image.split('/')[-2:])) }}"  width="200">

                        {% endif %}
                    {% endfor %}
                    </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
