<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 3 - Select Visiting Date</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule_step3.css') }}">

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const dateInput = document.getElementById('date');
            const dateContainer = document.getElementById('date-container');
            
            dateContainer.addEventListener('click', () => {
                dateInput.click();
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const availableDates = JSON.parse('{{ available_dates|tojson|safe }}');
        // Initialize Flatpickr
        flatpickr("#datepicker", {
            dateFormat: "Y-m-d",
            enable: availableDates,  // Only enable available dates
            disableMobile: true,  // Ensures desktop picker on mobile devices too
        });
    });
    </script>
</head>
<body>
    <div class="container">
        <h1>Step 3: Select Visiting Date</h1>
        <form class="step-form" action="{{ url_for('schedule_confirm', unique_id=unique_id) }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="name" value="{{ name }}">
            <input type="hidden" name="contactNum" value="{{ contactNum }}">
            <input type="hidden" name="address" value="{{ address }}">
            <input type="hidden" name="modelNum" value="{{ modelNum }}">
            <input type="hidden" name="serialNum" value="{{ serialNum }}">
            <input type="hidden" name="filename" value="{{ filename }}">
            <input type="hidden" name="warrantyStatus" value="{{ warrantyStatus }}">
            <input type="hidden" name="city" value="{{ city }}">
            <input type="hidden" name="state" value="{{ state }}">
            <input type="hidden" name="zipcode" value="{{ zipcode }}">
            <input type="hidden" name="email" value="{{ email }}">
            <input type="hidden" name="issue" value="{{ issue }}">
            <input type="hidden" name="unique_id" value="{{ unique_id }}">
            <input type="hidden" name="img_bos" value="{{ img_bos }}">
            <input type="hidden" name="img_bos_path" value="{{ img_bos_path }}">
            {% for path in img_issues_paths %}
                <input type="hidden" name="img_issues_paths" value="{{ path }}">
            {% endfor %}
            
            <div id="date-container">
            <input type="text" id="datepicker" name="datepicker" placeholder="Select a date" required style="width: 45%;">
            </div>
            {% if error_message_user %}
                <p class="error-message">{{ error_message_user }}</p>
                <div class="button-container">
                    <a href="{{ url_for('reschedule_step1') }}" class="button" style="width: 13%; display: inline-block;  align-items: center; text-decoration: none;">Reschedule</a>
                </div>
             {% else %}
                <div class="button-container">
                    <button type="button" class="button back-button" onclick="window.history.back()">Back</button>
                    <button type="submit" class="button">Next</button>
                </div>
            {% endif %}
        </form>
    </div>

</body>
</html>


